<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackendApiKey</key>
	<string>http://192.168.100.123:8080</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Image for posts</string>
</dict>
</plist>
